body {
    height: 100vh;
    margin: 0;
 
}

.box {
    height: calc(100% + 10px);
    width: 400px;
    background-image:url(http://source.unsplash.com/random);
    background-repeat: no-repeat;
    background-position: right;
} 
.box::after {
    content: " Mundo vasto Mundo, se Eu me chamasse Raimundo, seria uma Rima, não seria uma Solução, Mundo vasto Mundo, mais vasto é meu Coração";
    color: white;
    

}